<form>
  <div class="form-group user">
    <input type="email" class="formControlRange" id="Email" aria-describedby="emailHelp" placeholder="Usuário">
  </div>
  <div class="form-group senha">
    <input type="password" class="formControlRange" id="Password" placeholder="Senha">
  </div>
  <div class="form-group form-check checkBox">
    <input type="checkbox" class="form-check-input " id="Check">
    <label class="form-check-label" for="Check">Manter Conectado</label>
  </div>
  <button type="submit" class="btn btn-primary btnLogin">Entrar</button>
  <button type="cancelar" class="btn btn-primary">Cancelar</button>
</form>
