<div class="container">
  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Usuário</h1>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Email</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CPF</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>RG</label>
        <input pInputText type="text">
      </div>
      <div class="ui-g-12">
        <button type="submit" class="btn btn-primary btnLogin">Cadastrar</button>
        <button type="cancelar" class="btn btn-primary">Cancelar</button>
      </div>

    </div>

  </form>
</div>
